.header
 {
  background-color: #57648C;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;

  .links-list {

    list-style-type: none;
    display: flex;
    width: 200px;

    display: none;
  }

  .logo {
    a {
      text-decoration: none;
    }

  }
 }

 html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.body {
width: fit-content;


}
.content {
  flex: 1 0 auto;

  .intro {
    background-image: url('/assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 480px;

    .intro-text {
      padding: 4rem;
      color: white;
      text-align: center;

      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }


    }


  }

  .services {
    background-color: #E5E5E5;
    padding: 2.5rem;
    h3 {
      margin-top: 0;
    }
  }

  .feedback {
    background-color: #C2B4D6;
    padding: 2rem;

h3 {
  margin-top: 0;
}

    .feedback-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .card {
        max-width: 30%;
        height: fit-content;
        margin: 0.5rem;
      }
    }
  }
}
.footer {
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #57648C;
}

