<body class="body">
  <header class="header">


    <div class="logo">
      <h1>@hanna_zhechka</h1>
    </div>
    <div class="links-container">
      <a  href="https://instagram.com/hanna_zhechka">
        <svg xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
        </svg>
      </a>
        <a href="mailto:annazhechka@gmail.com">
          <svg xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#5b175d" d="M4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.588 1.413T20 20H4Zm8-7L4 8v10h16V8l-8 5Zm0-2l8-5H4l8 5ZM4 8V6v12V8Z"/></svg>
        </a>
    </div>


  </header>

  <main class="content">
    <section class="intro">
      <div class="intro-text">
        <img class="my-photo" src="./assets/foto1.jpg" />
        <h2>
          Привет! Меня зовут Аня и я практикующий астролог.
        </h2>
        <p>
          ‌Моя миссия — раскрывать уникальность и потенциал каждого человека, чтобы в этом мире было как можно больше осознанных счастливых людей!
        </p>
      </div>
    </section>
    <section class="services">
      <h3>Мои услуги</h3>
      <div class="services-container">
        <mat-card *ngFor="let item of items" class="service-card">
          <mat-card-header>
            <mat-card-subtitle>Услуга</mat-card-subtitle>
            <mat-card-title>{{item.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{item.shortDescription}}</p>

          </mat-card-content>


          <mat-card-footer>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <button mat-button (click)="openDialog(item)">Описание услуги</button>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </section>

    <section class="feedback">
      <h3>Отзывы</h3>

      <div class="feedback-container">
        <swiper-container slides-per-view="1" speed="500" loop="true" pagination="true" mousewheel-force-to-axis="true" space-beetwen="0">
          <swiper-slide *ngFor="let slide of slides" style="text-align: center;" ><img class="swiper-img" [src]="slide"></swiper-slide>

        </swiper-container>
        <!-- <mat-card *ngFor="let card of feedbacks" class="card">
          <img mat-card-image [src]="card" alt="" />
        </mat-card> -->
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="links-container">
      <a  href="https://instagram.com/hanna_zhechka">
        <svg xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
        </svg>
      </a>
        <a href="mailto:annazhechka@gmail.com">
          <svg xmlns="https://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#5b175d" d="M4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.588 1.413T20 20H4Zm8-7L4 8v10h16V8l-8 5Zm0-2l8-5H4l8 5ZM4 8V6v12V8Z"/></svg>
        </a>
    </div>
  </footer>
</body>


