.header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;

  .links-list {

    list-style-type: none;
    display: flex;
    width: 200px;

    display: none;
  }

  .logo {

    h1 {
      font-family: 'Cormorant Garamond', serif;
      font-weight: bold;
      font-style: italic;
    }

  }

  .links-container {
    position: absolute;
    right: 0;

    a {
      padding-right: 30px;
      color: #5b175d;

    }

    @media screen and (max-width: 600px) {
       a {
        padding-right: 10px;
      }
    }

  }
}

html,
body {
  height: 100%;
  font-family: "EB Garamond", serif;
  color: #5b175d;
}

body {
  display: flex;
  flex-direction: column;
}

.body {



}

.content {
  flex: 1 0 auto;
  background-image: url('/assets/back3.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  .intro {

    background-repeat: no-repeat;
    background-size: cover;

    min-height: 480px;

    .intro-text {
      padding: 4rem;
      text-align: center;

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }


    }

    .my-photo {
      max-width: 300px;
      border-radius: 50%;
    }


  }

  .services {

    padding: 2.5rem;

    h3 {
      margin-top: 0;
    }

    .services-container {
      display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    }

    .service-card {
      max-width: 300px;
    }
  }

  .feedback {

    padding: 2rem;

    h3 {
      margin-top: 0;
    }

    .feedback-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .card {
        max-width: 30%;
        height: fit-content;
        margin: 0.5rem;
      }
    }
  }
}

.footer {
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;

  .links-container {
    a {
      color: #5b175d;
    }

  }

}


